body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(45, 46, 49);
    font-size: 18px;
}
.Portifolio{
    background-color: rgb(71, 70, 70);
    border: solid 2px rgb(0, 0, 0); 
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}
#insta{
    width: 25px;
}
#twitter{
    width: 25px;
}
.Contato{
    text-align: left;
    background-color: rgb(71, 70, 70);
    border-radius: 20px;
    padding: 15px;
    border: solid 2px #000;
    text-align: left;
}
a:hover {
    color: white;
}
a:link {
    
    text-decoration: none;
}
#Victor{
width: 200px;

}
.Contato .Nome{
    text-align: center;
}