@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: PT Sans !important;
}

/* Inicio Header */

.bg-body-tertiary {
    background-color: rgb(39, 39, 39) !important;
    border: 2px solid black;
}

header nav a {
    color: rgb(83, 83, 250) !important;
}

/* Fim Header */
/* Inicio Main */

main {
    background-color: rgb(39, 39, 39);
    height: 100vh;
}

/* Fim Main */